.resize-button {
    padding: 16px;
    border-radius: 8px;
    background-color: darkslateblue;
    margin: 8px;
}

.grid-row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.grid-tile {
    flex: 1 1 auto;
    display: flex;
    padding: auto;
    gap: 32px;
    background-color: rgb(164, 165, 175);
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    aspect-ratio: 1;
    background-color: black;
}

.hovered {
    background-color: lightpink;
}